body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-top{
  background-color: #8f31b2;
}

.navbar2{
  background-color: #cf99e3;
}

.navbarText{
  color: #a83f9d !important;
}

.btn-pink{
  --bs-btn-padding-x: 0.75rem;
  --bs-btn-padding-y: 0.375rem;
  --bs-btn-font-family: ;
  --bs-btn-font-size: 1rem;
  --bs-btn-font-weight: 400;
  --bs-btn-line-height: 1.5;
  --bs-btn-color: #212529;
  --bs-btn-bg: transparent;
  --bs-btn-border-width: 1px;
  --bs-btn-border-color: transparent;
  --bs-btn-border-radius: 0.375rem;
  --bs-btn-hover-border-color: transparent;
  --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 1px rgba(0, 0, 0, 0.075);
  --bs-btn-disabled-opacity: 0.65;
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
  display: inline-block;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  font-family: var(--bs-btn-font-family);
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  color: var(--bs-btn-color);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  border-radius: var(--bs-btn-border-radius);
  background-color: var(--bs-btn-bg);
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;


  --bs-btn-color: #cf99e3;
  --bs-btn-bg: rgba(207,153,227,0.3);
  --bs-btn-border-color: rgba(207,153,227,0.3);
  --bs-btn-hover-color: #cf99e3;
  --bs-btn-hover-bg: rgba(207,153,227,0.3);
  --bs-btn-hover-border-color: rgba(207,153,227,0.3);
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #cf99e3;
  --bs-btn-active-bg: rgba(207,153,227,0.3);
  --bs-btn-active-border-color: rgba(207,153,227,0.3);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #cf99e3;
  --bs-btn-disabled-bg: rgba(207,153,227,0.3);
  --bs-btn-disabled-border-color: rgba(207,153,227,0.3);
  /* color: #cf99e3;
  background-color: rgba(207,153,227,0.3); */
}

.bg-pink{
  background-color: #d9abe1;
}

.btn-pink2{
  --bs-btn-color: #fff;
  --bs-btn-bg: #d9abe1;
  --bs-btn-border-color: #d9abe1;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #d9abe1;
  --bs-btn-hover-border-color: #d9abe1;
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #d9abe1;
  --bs-btn-active-border-color: #d9abe1;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #d9abe1;
  --bs-btn-disabled-border-color: #d9abe1;

  display: inline-block;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  font-family: var(--bs-btn-font-family);
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  color: var(--bs-btn-color);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  border-radius: var(--bs-btn-border-radius);
  background-color: var(--bs-btn-bg);
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;

}

.text-pink2{
  color: #8f31b2;
}